*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: #e5e5fd;
    height: 100vh;
    border:10px solid black;
    
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.image_section,img{
    
    width: 150px;
    height: 150px;
    border-radius: 25%;
    
    
}
.top_section h1{
    font-size: 30px;
    font-weight: bolder;
    color: teal;
}
.top_section h4{
    text-align: end;
    color: rgb(0, 128, 128);
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.bottom_content{
    margin-top: 15px;
    text-align: left;
}
.about{
    
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}
.foot{
    font-weight: bold;
}